.card {
    // display: flex;
    // padding: 16.5%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

    h2{
        border-top: 1px solid black;
        // font-size: large;
    }

    div{
        width: 100%;
    }
}
