*{
    margin: 0;
    padding: 0;
}

.card {
    // display: flex;
    // padding: 16.5%;
    cursor: pointer;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    // width: 100%;
    div{
        width: 100%;
        // padding: 20px;

        // .flex-div{
        //     color: red;
        // }

        // div{
        //     padding: 0px;
        //     display: flex;
        //     justify-content: center;

        //     span{
        //         // color: red;
        //         // flex: 1;
        //         margin-right: 10px;
        //         &:nth-child(2){
        //             font-weight: 500;
        //         }
        //         &:last-child{
        //             flex: 2;
        //             text-align: end;
        //             font-weight: 500;
        //         }
        //     }
        // }


        h1{
            font-size: 1.5em;
            text-align: center;
        }
        h2{
            border-top: 1.5px solid black;
            font-size: 1.1em;
            margin: 5px 0px;
        }
        h3{
            font-size: 0.6em;
        }

        h4{
            font-size: 0.4em;
        }
        li {
            font-size: 0.1em;
            list-style-type: disc;
            margin: 2.5px 0;
            margin-left: 10%;
            // font-size: xx-small;
        }

        p{
            font-size: 0.1em;
            // font-size: x-small;
        }

        .flex-skills{
            padding: 0px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-left: 10%;
        
            height: 80px;
        
            li{
                margin: 0;
                // color: red;
            }
        }

        .flex-single-experience{
    
            padding: 0px;
            display: flex;
            justify-content: center;
        
            span{
                // color: red;
                // flex: 1;
                margin-right: 10px;
                &:nth-child(2){
                    font-weight: 500;
                }
                &:last-child{
                    flex: 2;
                    text-align: end;
                    font-weight: 500;
                }
            }
            
        }
        
        
        .flex-info{
            text-align: end;
        }
        
        .flex{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
        }
    }
}


