.adjustPage {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 80px;
    // height: 100vh;
    // height: 100%;
    // max-height: 90vh;
    overflow-y: hidden;
    // height: 100vh;
    height: 100%;
    width: 100%;
    // z-index: 2;
}

// .card{
//     position: fixed;
// }

// .card{
//     position: relative;
//     height: 200px;
//     overflow-y: hidden;
//     opacity: 0.3;
// }

// .card {
//     display: flex;
    // justify-content: center;
    // align-items: center;
    // background: white;
    // box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    // overflow: auto;
// }
