.templatePage{
    overflow-y: scroll;
    // height: 100vh;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;

}



.imgDiv{
    // width: 210px;
    // height: 297px;
    width: 25%;
    box-shadow: "0 2px 4px rgba(0, 0, 0, 0.2)";
    border-radius: "5px";
    margin-bottom: 40px;
    margin-right: 20px;
    transition: filter 0.3s ease;
    overflow: hidden;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(0, 0, 0, 0.3);
        background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
        transition: top 0.5s ease-in-out;
    }
    
    &:hover::before {
        top: 0;
    }

    img{
        height: 100%;
        width: 100%;

        transition: filter 0.3s ease, transform 0.3s ease;
    }

    .viewButton {
        position: absolute;
        top: 50%;  /* Adjust the values of top and left properties to position the button as needed */
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 1s ease-in;
    }

    &:hover .viewButton {
        opacity: 1;
    }
    


}



@media (max-width: 768px) {
    .templatePage{
        height: 100%;
        padding: 0px;
    }

    .imgDiv{
        width: 100%;
        // height: calc(33% * 1.414);
        margin-bottom: 0px;
        margin-right: 0px;
        margin: 20px;
    }
}
