.templatePage{
    overflow-y: scroll;
    // height: 100vh;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;

}



.imgDiv{
    // border: 1px solid black;
    // width: 210px;
    // height: 297px;
    width: 25%;
    // height: calc(33% * 1.414);
    box-shadow: "0 2px 4px rgba(0, 0, 0, 0.2)";
    border-radius: "5px";
    margin-bottom: 40px;
    margin-right: 20px;

    img{
        height: 100%;
        width: 100%;
    }

    &:hover{
        border: 1.5px solid green;
    }
}


@media (max-width: 768px) {
    .templatePage{
        height: 100%;
        padding: 0px;
    }

    .imgDiv{
        width: 100%;
        // height: calc(33% * 1.414);
        margin-bottom: 0px;
        margin-right: 0px;
        margin: 20px;
    }
}
